<% include ../partials/header %>

<div class = "container">
    <div class="row">
        <h1 style="text-align: center">Create a New DineMe Event</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/profiles" method="POST">
                <div class="form-group">
                    <label for="name">Date and Time for Dinner</label>
                   <input type="date" name = "date" min="2019-03-31" max="2019-04-10" step="1">
                </div>
                             <div class="row">
          <div class = "col-sm-12">                                       
        <label for="gender">Gender</label>
        <div class="input-group"> 
            <input name = "gender" type="TextBox" ID="datebox1" Class="form-control"></input>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
             
                <ul  id="demolist1" class="dropdown-menu">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
              
        </div>
    </div>
</div>

    <div class="row">
        <div class='col-sm-12'>
             <label for="calendar">Choose Date and Time for Dinner</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input name = "calendar" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>



            
<div class="form-group">
                    <label for="year">Class Year</label>
                    <input class="form-control" type="number" name="year" id="year" placeholder="2022" step="1" min="2019" max = "2022" required>
</div>

 <div class="row">
    <div class = "col-sm-12">                                       
        <label for="q1">I'm convinced that</label>
          <div class="input-group"> 
            <input placeholder= "Select an option from dropdown" name = "q1" type="TextBox" ID="datebox1" Class="form-control"></input>
             <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul  id="demolist1" class="dropdown-menu">
                    <li><a href="#">Elon Musk is from the future</a></li>
                    <li><a href="#">The Earth is flat</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
 <div class="row">
    <div class = "col-sm-12">                                       
        <label for="q2">Believe it or not I</label>
          <div class="input-group"> 
            <input name = "q2" type="TextBox" ID="datebox1" Class="form-control" placeholder= "Select an option from dropdown"></input>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul  id="demolist1" class="dropdown-menu">
                    <li><a href="#">Hate tofu</a></li>
                    <li><a href="#">Think Forbes is the best res college</a></li>
                    <li><a href="#">Post tiger confessions about myself</a></li>   
                    <li><a href="#">Didn't get into Stanford</a></li>   
                    <li><a href="#">Go to NYC on every break</a></li>   
                   
                </ul>
            </div>

        </div>
    </div>
</div>


 <div class="row">
    <div class = "col-sm-12">                                       
        <label for="q3">Dream Dinner Guest</label>
          <div class="input-group"> 
            <input placeholder= "Select an option from dropdown" name = "q3" type="TextBox" ID="datebox1" Class="form-control"></input>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul  id="demolist1" class="dropdown-menu">
                    <li><a href="#">President Eisgruber</a></li>
                    <li><a href="#">President Eisgruber :)</a></li>
                    <li><a href="#">President Eisgruber :))</a></li>   

                   
                </ul>
            </div>
        
        </div>
    </div>
</div>

       
        </div>
    </div>
<% include ../partials/footer %>
